.WelcomePage-Ellipse {
  /* Ellipse 1446 */

  position: absolute;
  width: 932.34px;
  height: 322.31px;
  top: 222px;
  /* ai brand */
  background: linear-gradient(
    144.9deg,
    #0379ff -4.3%,
    #b74bdd 46.14%,
    #ff805f 92.69%
  );
  filter: blur(51px);
  transform: rotate(-24.72deg);
  z-index: -10;
  border-radius: 40%;
}
